.nav{display: flex; justify-content: space-between;gap:0.5rem;min-height: 75px;}
.nav__logo{line-height:1;color: white;display: flex;justify-content: center; padding: 1rem;flex-direction: column;text-align: left;}
.nav__title{font-size:2rem;margin: 0;font-weight: bold;}
.nav__list{padding: 0; margin: 0;list-style: none; display: flex;min-height:inherit; }
.nav__link{height: 100%;background-color: transparent; transition: ease-in 350ms;}
.nav__link:hover,
.nav__link:active,
.nav__link--active{background-color: var(--main);}
.nav__action{height: inherit;display: flex;align-items: center;text-align: center;padding: 0 1rem;}
