:root{
  --main: #36454F;
  --second: #333333;
  --container: 1200px;
}

.home__title {
  font-size:7rem;
  margin-bottom:2rem;
}
main {
  padding: 1rem;
}

nav {
  background-color: var(--second);
  text-align: center;
  color: white;
  border-top: 6px solid var(--main);
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a h2 {
  color: #ffffff;
  margin: 0;
}

main {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.remove-post {
  display: block;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  height: 2.5rem;
  width: 2.5rem;
  background-color: red; 
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.remove-post:hover{
  background-color: darkred;
}

/* input */
label{
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
input{
  display: block;
  width:100%;
  margin-bottom: 1rem;
}

form button{
  margin-top:1rem;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

blockquote {
  border-left: 10px solid var(--main);
  margin: 1.5em 0;
  padding:1rem;
  position: relative;
}

blockquote p {
  display: inline;
}
blockquote:before,
blockquote::after{
  color: var(--main);
  position:relative;
  line-height: 0.1em;
  font-size: 5em;
}

blockquote:before{
  content: "\201C";
  left:5px;
  top: 0.3em;
}

@media screen and (max-width:1024px){
  .home__title {
    font-size:3.5rem;
    text-align: center;
  }
}