@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Vidaloka&display=swap');
* {
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body {
  background-color: beige;
  margin: 0;
  /* font-family: 'Josefin Sans', cursive; */
  font-family: 'Prata', serif;
  /* font-family: 'Unna', serif; */
  /* font-family: 'Libre Caslon Text', serif; */
  /* font-family: 'Vidaloka', serif; */
  font-size:1rem;
}

h1,h2,h3,h4,h5,p{
  margin: 0 0 1rem 0;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}